.jumbotron.log_in-jumb
  .container
    .col-md-7
      %form
        %input{type: 'text', placeholder: 'Email Adress'}
        %input{type: 'text', placeholder: 'Password'}
      .container
        = link_to 'Log In'

