.footer {
  margin: 0;
  padding-top: 10px;
  background: #f4f4f4;
  min-height: 20%;
  .container {
    border-top: 1px solid #979797;
    padding-top: 40px;
    @media (max-width: 600px) {
      .col-md-6 {
        width: 100%;
        padding-top: 20px;
        text-align: center;
        .copyright {
          width: 100%;
          text-align: center;
        }
        .icons {
          padding-top: 20px;
          width: 100%;
          text-align: center;
          a {
            i {
              padding-right: 0!important;
            }
          }
        }
      }
    }
    .col-md-6 {
      a {
        color: #888888;
        padding: 0 15px 10px 0;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
          color: black;
        }
      }
      &:last-child {
        text-align: right;
        color: #888888;
        .copyright {
          padding-right: 20px;
          display: inline-block;
        }
        .icons {
          display: inline-block;
          a {
            padding: 0;
            i {
              background: #f7e100;
              width: 40px;
              height: 40px;
              color: black;
              border-radius: 50%;
              padding: 7px 7px 5px 0;
            }
            i.fa.fa-facebook {
              padding-right: 13px;
            }
            &:hover {
              i {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}