.profile-friends {
  max-height: 565px;
  overflow-y: scroll;
  overflow-x: hidden;
  .row {
    padding-left: 16px;
    padding-right: 16px;
    .col-md-5 {
      padding: 20px 0;
      border-bottom: 1px solid #919191;
      &:hover {
        .col-md-9 {
          h5, h6 {
            color: #f7e100;
            transition: all 0.5s;
          }
        }
      }
      &:nth-child(2) {
        margin-left: 20px;
      }
      .col-md-3 {
        padding-left: 0;
        overflow: hidden;
        height: 85px;
        a {
          img {
            width: 100%;
          }
        }
      }
      .col-md-9 {
        padding-left: 0;
        h5 {
          margin-top: 0;
          margin-bottom: 0;
        }
        h6 {
          margin-top: 6px;
        }
        .stats {
          table {
            tr {
              td {
                padding: 0 5px 0 5px;
                text-align: center;
                font-style: italic;
                font-family: 'Eurofurence';
              }
              .count {
                font-size: 18px;
                color: #868f4c;
                font-weight: bold;
              }
              .yellow, .grey {
                a {
                  text-decoration: none;
                  i {
                    transition: all 0.2s;
                  }
                  &:hover {
                    i {
                      -webkit-transform: scale(1.3);
                      -moz-transform: scale(1.3);
                      -ms-transform: scale(1.3);
                      -o-transform: scale(1.3);
                      transform: scale(1.3);
                    }
                  }
                }
              }
              .yellow {
                a {
                    color: #f7e100;
                }
              }
              .grey {
                a {
                  i {
                    color: #919191;
                  }
                }
              }
            }
          }
        }
      }
    }
    .col-md-2 {
      padding: 0;
      width: 20px;
    }
  }
}


.profile-friends::-webkit-scrollbar{
  width: 10px;
}

.profile-friends::-webkit-scrollbar-track{
  box-shadow:inset 4px 0 0 0 rgb(248, 248, 248), inset 6px 0 0 0 #cacaca;

}

.profile-friends::-webkit-scrollbar-thumb{
  width: 15px;
  background: #f7e100;
  position: absolute;
}