.jumbotron.footer
  .container
    .col-md-6
    .col-md-6
      .copyright
        Copyright Papermache.cc, inc. 2017
      .icons
        =link_to do
          %i.fa.fa-twitter.fa-2x
        =link_to do
          %i.fa.fa-facebook.fa-2x
